@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 180 100% 14%; /* #004643 */
    --card: 0 0% 100%;
    --card-foreground: 180 100% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 180 100% 14%;
    --primary: 180 100% 14%; /* #004643 */
    --primary-foreground: 0 0% 98%;
    --secondary: 120 9% 50%; /* #708D81 */
    --secondary-foreground: 0 0% 9%;
    --muted: 120 9% 50%;
    --muted-foreground: 45 100% 10%; /* #2F2504 */
    --accent: 120 9% 50%;
    --accent-foreground: 180 100% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 9% 50%;
    --input: 120 9% 50%;
    --ring: 180 100% 14%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 100% 14%;
    --foreground: 0 0% 98%;
    --card: 180 100% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 180 100% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 9% 50%; /* Secondary becomes primary in dark mode */
    --primary-foreground: 180 100% 14%;
    --secondary: 45 100% 10%; /* Tertiary becomes secondary in dark mode */
    --secondary-foreground: 0 0% 98%;
    --muted: 45 100% 10%;
    --muted-foreground: 120 9% 50%;
    --accent: 45 100% 10%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 100% 10%;
    --input: 45 100% 10%;
    --ring: 120 9% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
  }
}
